body{
	background:white;
	height:700px;
	margin:0px;
	padding:0px;
	
}
.base{
	position:absolute;
	width:100%;
	top:0px;
	left:0px;
	color:gray;

}
#logo{
	
	margin-top:20px;
	
	height:38px;
	width:500px;
}

#info1{
	width:500px;
	margin-top:25px;
	font-family: 'Open Sans', sans-serif;
	font-size:38px;
	color:#555557;
	
}
#info2{
	width:500px;
	margin-top:17px;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#555557;
	
}
#form1{
	margin-top:17px;
	width:355px;
	height:280px;
    padding-top:40px;
	background:#f7f7f7;
	box-shadow: 0px 1px 1px 1px #c6c1c1;

}
#form-img{
	
	width:99px;
	height:99px;
}
#mailbox{
	width:270px;
	height:42px;
	border-radius:5px 5px 5px 5px;
	background:white;
	
	font-size:18px;
	margin-top:20px;
	border-width: 0px;
	border-style:solid;
	border-color: blue;
}
#button2{
	width:270px;
	height:35px;
	
	margin-top:10px;
	background:#498af2;
	font-family:verdana;
	font-size:14px;
	color:white;
	border-radius:5px 5px 5px 5px;
	border-width: 1px;
	border-style:solid;
	border-color: gray;
	cursor:pointer;
	outline:none;
	
}
#info3{
	float:right;
	margin-top:10px;
	font-size:13px;
	font-family: 'Open Sans', sans-serif;
	color:#498af2;
	padding-right:42px;
	font-weight:bold;
}
#info3 a{
	color:#498af2;
	text-decoration:none;
}

#info5{
	margin-top:30px;
	font-size:13px;
	font-family: 'Open Sans', sans-serif;
	color:#87898b;
	font-weight:bold;
}

#logo2{
	
	margin-top:10px;
	height:27px;
	width:243px;
}
#bottom {
	float:left;
	padding:0px;
	margin:0px;
	
}
#bottom ul{
	list-style: none;
	
}
#bottom ul li{
	float:left;
	margin-left:20px;
     
	
}